.text-center{
    text-align: center;
  }
  .mx-auto{
    margin: 15px;
  }
  .flex{
    display:flex;
  }
  .flex-col{
    flex-direction: column;
  }
  .m-w-30{
    max-width:30;
  }
  .items-center{
    align-items:center;
  }